@charset "utf-8";

/*
로케이션 디자인
*/

.location {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #312727;
    margin-top: 100px;
}

.location ul {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.location ul li {
    height: 100%;
    margin-left: 16px;
    font-weight: 100;
}

.location ul li ~ li {
    padding-left: 24px;
    background: url(../img/location-arrow.png) no-repeat;
    background-position: left 52%;
    background-size: 8px;
}

.location ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.location ul li:hover a {
    text-decoration: underline;
}
